body {
    margin: 0 auto;
    background-image: url("../images/hipsquare.png");
    /* background-color: lightgray; */
}

h1, h2, h3, {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}
h1 {
    background-color: #4aaaa5;
    float: left;
    padding: 20px 30px;

}
.namebox {
    margin: 0 auto;
    width: 960px;
    color: #ffffff;
    font-size: 36px;
    overflow: hidden;
    font-weight: bold;
    

}
nav {
    float: right;
}

li {
    float: left;
    margin-left: 10px;
}

#punctuation, #punctuation2 {
    margin-left: 10px;
    color: #777777;
    line-height: 76px;
    font-size: 18px;
}

.contents {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 920px;
    border: solid #dddddd;
    background-color: #ffffff;
    margin: 30px auto 100px auto;
    padding: 20px;
    overflow: hidden;
}

#bioPic {
    width: 200px;
    float: left;
    margin-right: 20px;

}

a {
    color: #777777;
    text-decoration: none;
    line-height: 76px;
    font-size: 18px;
    font-weight: normal;
}
a:hover {
    background-color: lightgrey;
    padding: 4px;
}

h2 {
    font-size: 32px;
    color: #4aaaa5;

}

h3 {
    font-size: 24px;
    color: #4aaaa5;
}

p, a {
    font-family: Arial, Helvetica Neue Helvetica, sans-serif;
}

p {
    line-height: 1.6;
}




.Contactcontainer {
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777; */
    width: 1024px;
    margin: 0 auto;
    /* border: solid #dddddd;
    background-color: #ffffff;
    padding: 30px;
    margin: 40px 210px;  */
    
}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 50%;
    color: #777777;
    border: solid #dddddd;
    background-color: #ffffff;
    padding: 30px;
    margin: 40px 30px;
    float: left; 
}

input[type=text], select, textarea {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border: 1px solid #777777;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 36px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

#Connect {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #777777;
    width: 25%;
    border: solid #dddddd;
    background-color: #ffffff;
    padding: 30px;
    margin: 40px 30px;
    float: left;
}

#fb {
    width: 50px;
}

#Linkedin {
    width: 120px;
}

#Twitter {
    width: 50px;

}
footer {
    text-align: center;
    padding: 40px 0px;
    background-color: #777777;
    border-top: 5px solid;
    border-color: #4aaaa5;
    color: #dddddd; 
}

#contactfooter {
    float: left;
    width: 100%;
}

.portfolioContainer {
    width: 1024px;
    margin: 0 auto;

}

#portfolio {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    color: #777777;
    border: solid #dddddd;
    background-color: #ffffff;
    padding: 30px;
    margin: 40px 30px;
}
    
#hangmanBanner {
    position: relative;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 179px;
    bottom: 60px;
    padding: 10px;
    text-align: center;    
}

#rpgBanner {
    position: relative;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 180px;
    bottom: 290px;
    left: 250px;
    padding: 10px;
    
}

#hangman {
    position: relative;
    width: 200px;
    height: 180px;
    /* border: solid  #dddddd; */

}

.bannerText {
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;

}

#RPG {
    position: relative;
    width: 200px;
    height: 180px;
    bottom: 231px;
    left: 250px;
}

#trivia {
    position: relative;
    width: 200px;
    height: 180px;
    bottom: 460px;
    left: 500px;

}
#triviaBanner {
    position: relative;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 180px;
    bottom: 525px;
    left: 500px;
    padding: 10px;
}

#rps {
    position: relative;
    width: 200px;
    height: 180px;
    bottom: 691px;
    left: 750px;

}

#rpsBanner {
    position: relative;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 180px;
    bottom: 755px;
    left: 750px;
    padding: 10px;

}